<h1>Reset your password</h1>

<%= form_with mode: @user, url: password_reset_edit_path(token: params[:token]) do |f| %>
	<p>
		<%= f.label "Password:" %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label "Password Confirmation:" %>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.submit "Reset Password" %>
	</p>
<% end %>