<div class="header card">
	<h1><%= @activity.name %></h1>
</div>

<h2>Comments</h2>
<%= render @activity.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<ul>
	<li>
		<%= link_to "Edit Activity", edit_activity_path(@activity) %>
	</li>
	<li>
		<%= link_to "Delete Activity", activity_path(@activity),
				data: {turbo_method: :delete, 
				   	   turbo_confirm: "Are you sure?"} %>
	</li>
</ul>